.inline-block {
  display: inline-block;
  padding: 30px;

}
.card-upper-title {
  padding: 30px;

}

.basic-container {
  padding: 30px;
}

h1 {
  text-align:center;
}

.quick-menu-items {
  display: inline-block !important;
  align-items: center !important;
}
